<div class="row">
  <div class="span12">
    <h2>Workout at <%= @workout.start_time %></h2>
  </div>
  <div class="span6">
    <p>Add running exercise</p>
    <%= link_to "Add running exercise", new_run_path(workout_id: @workout.id) %>
  </div>
  <div class="span6">
    <p>Add strength exercise</p>
  </div>
</div>
